<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ECOM WIDGET CHATBOT | TEST</title>
  <style>
    body {
      background: linear-gradient(90deg, #C7C5F4, #776BCC);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
  </style>
</head>
<body>
  <div id="chatbot-root"></div>
  <script src="../config.js"></script>
  <script>
    var script = document.createElement("script");
    script.src = config.url_script;
    script.onload = function() {
      var client_id = config.client_id;
      var client_secret = config.client_secret;
      var app_name = config.app_name;
      var flujo_id = config.flujo_id;
      var metadata = config.metadata;
      var chatbot = new Chatbot('chatbot-root', client_id, client_secret, app_name, flujo_id, metadata);
      chatbot.start();
    };
    document.head.appendChild(script);
  </script>
</body>
</html>