<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>

  <style>
    body {
      background: linear-gradient(90deg, #C7C5F4, #776BCC);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
  </style>

</head>
<body>
  <div id="chatbot-container"></div>
  
  <script src="../config.js"></script>
  <script src="../static/js/WidgetScript.js"></script>
  <!-- <script rel="stylesheet" src="http://ecom-chatbot-widget.ecomdev.ar/js/WidgetScript.js"></script> -->
  
  <script>
    var client_id = config.client_id;
    var client_secret = config.client_secret;
    var app_name = config.app_name;
    var flujo_id = config.flujo_id;
    var metadata = config.metadata;
    var chatbot = new EcomWidget(client_id, client_secret, app_name, flujo_id, metadata);
    chatbot.start();
  </script>

</body>
</html>