<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>

  <link rel="stylesheet" href="../static/vendors/froala/css/froala_editor.css">
  <link rel="stylesheet" href="../static/vendors/froala/css/froala_style.css">

  <link rel="stylesheet" href="../static/vendors/froala/css/plugins/code_view.css">

  <style>
    body {
      background: linear-gradient(90deg, #C7C5F4, #776BCC);
    }
    
    .test-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
  </style>

</head>
<body>
  <div class="test-container">
    <div id="chatbot-container" style="position: fixed; bottom: 0; right: 0; z-index: 1000;"></div>
  </div>
  
	<script type="text/javascript" src="../static/vendors/froala/js/froala_editor.min.js"></script>
	<script type="text/javascript" src="../static/vendors/froala/js/plugins/link.min.js"></script>

  <script src="../config.js"></script>
  <script src="../static/js/WidgetScript.js"></script>
  <script>
    var client_id = config.client_id;
    var client_secret = config.client_secret;
    var app_name = config.app_name;
    var flujo_id = config.flujo_id;
    var metadata = config.metadata;
    var chatbot = new EcomWidget(client_id, client_secret, app_name, flujo_id, metadata);
    chatbot.start();
  </script>

</body>
</html>