/************************************* BOOTSTRAP *************************************/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

strong {
    font-weight: inherit
}

strong {
    font-weight: bolder
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button {
    text-transform: none
}

[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

@media print {
    *,::after,::before,div::first-letter,div::first-line {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,::after,::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

@-ms-viewport {
    width: device-width
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff
}

a {
    color: #0275d8;
    text-decoration: none
}

a:focus,a:hover {
    color: #014c8c;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

img {
    vertical-align: middle
}

a,button,input {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,input {
    line-height: inherit
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.btn:focus,.btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.25);
    box-shadow: 0 0 0 2px rgba(2,117,216,.25)
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .65
}

.btn:active {
    background-image: none
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.rounded {
    border-radius: .25rem
}

.mt-2 {
    margin-top: .5rem!important
}

/************************************* BOOTSTRAP MATERIAL DESING *************************************/

.widget-container html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.widget-container body {
    margin: 0;
}

.widget-container a {
    background-color: transparent;
}

.widget-container a:active, .widget-container a:hover {
    outline-width: 0;
}

.widget-container strong {
    font-weight: inherit;
}

.widget-container strong {
    font-weight: bolder;
}

.widget-container img {
    border-style: none;
}

.widget-container svg:not(:root) {
    overflow: hidden;
}

.widget-container button, .widget-container input {
    font: inherit;
    overflow: visible;
    margin: 0;
}

button {
    text-transform: none;
}

.widget-container button, .widget-container [type="button"], .widget-container [type="submit"] {
    cursor: pointer;
}

.widget-container button, .widget-container html [type="button"], .widget-container [type="submit"] {
    -webkit-appearance: button;
}

.widget-container button::-moz-focus-inner, .widget-container input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.widget-container button:-moz-focusring, .widget-container input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

@media print {
    .widget-container *, .widget-container *::before, .widget-container *::after, .widget-container *::first-letter, .widget-container *::first-line {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .widget-container a, .widget-container a:visited {
        text-decoration: underline;
    }

    .widget-container img {
        page-break-inside: avoid;
    }
}

.widget-container html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.widget-container *, .widget-container *::before, .widget-container *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@-ms-viewport {
    width: device-width;
}

.widget-container html {
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

.widget-container body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
}

.widget-container a {
    color: #009688;
    text-decoration: none;
}

.widget-container a:focus, .widget-container a:hover {
    color: #004a43;
    text-decoration: underline;
}

.widget-container a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.widget-container a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.widget-container a:not([href]):not([tabindex]):focus, .widget-container a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.widget-container a:not([href]):not([tabindex]):focus {
    outline: none;
}

.widget-container img {
    vertical-align: middle;
}

.widget-container a, .widget-container button, .widget-container input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.widget-container button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.widget-container input, .widget-container button {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

.widget-container .img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.widget-container .btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.46875rem 1rem;
    font-size: 1rem;
    border-radius: 0.125rem;
}

.widget-container .btn:focus, .widget-container .btn:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.widget-container .btn:focus, .widget-container .btn:hover {
    text-decoration: none;
}

.widget-container .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget-container .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0.5rem 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0.5rem 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0.5rem 0;
    }

    to {
        background-position: 0 0;
    }
}

.widget-container .media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.5rem;
}

.widget-container body {
    font-weight: 400;
}

.widget-container a:focus {
    outline: none;
}

.widget-container button:focus {
    outline: none;
}

.widget-container .btn {
    position: relative;
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform;
    color: rgba(0, 0, 0, 0.87);
    background-color: inherit;
    border-color: #ccc;
}

.widget-container .btn:focus, .widget-container .btn:active:focus {
    outline: 0;
}

.widget-container .btn:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
}

.widget-container .btn:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
}

.widget-container .btn:active {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
}

.widget-container .btn:active:hover, .widget-container .btn:active:focus {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(153, 153, 153, 0.4);
    border-color: rgba(153, 153, 153, 0.4);
}

.widget-container .btn:disabled:focus {
    background-color: inherit;
    border-color: #ccc;
}

.widget-container .btn:disabled:hover {
    background-color: inherit;
    border-color: #ccc;
}

.widget-container .btn.btn-raised:focus, .widget-container .btn.btn-raised:hover {
    z-index: 1;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.widget-container .btn.btn-raised:active {
    z-index: 1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.widget-container .btn.btn-raised {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.widget-container .btn.btn-raised:disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget-container .btn .material-icons {
    position: relative;
    top: .25em;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.5em;
}

.widget-container .btn:disabled {
    color: rgba(0, 0, 0, 0.26);
}

.widget-container .btn:disabled, .widget-container .btn:disabled:hover, .widget-container .btn:disabled:focus {
    background: transparent;
}

@-webkit-keyframes checkbox-on {
    0% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-o-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-on {
    0% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    25% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    50% {
        width: 0;
        height: 0;
        margin-top: -4px;
        margin-left: 6px;
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    51% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-o-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    50% {
        width: 0;
        height: 0;
        margin-top: -4px;
        margin-left: 6px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    51% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes checkbox-off {
    0% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    25% {
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    50% {
        width: 0;
        height: 0;
        margin-top: -4px;
        margin-left: 6px;
        -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    51% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 10px inset;
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-left: -2px;
        -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

.widget-container form {
    margin-bottom: 1.125rem;
}

.widget-container input::-webkit-input-placeholder {
    line-height: 1;
}

.widget-container input::-moz-placeholder {
    line-height: 1;
}

.widget-container input:-ms-input-placeholder {
    line-height: 1;
}

.widget-container input::placeholder {
    line-height: 1;
}

.widget-container input::-webkit-input-placeholder {
    font-size: 1rem;
}

.widget-container input::-moz-placeholder {
    font-size: 1rem;
}

.widget-container input:-ms-input-placeholder {
    font-size: 1rem;
}

.widget-container input::placeholder {
    font-size: 1rem;
}

/************************************* MATERIAL ICONS *************************************/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.widget-container .material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
-webkit-font-smoothing: antialiased;
}

/************************************* CSS INTERNO *************************************/

.widget-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.widget-container[data-status="valid"] {
    --primary: #5A5EB9;
}

.widget-container #chat-circle {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: var(--primary);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    padding: 28px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.widget-container #chat-overlay {
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.widget-container .chat-box {
    display: none;
    background: #efefef;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    box-shadow: 0px 5px 35px 9px #ccc;
}

.widget-container .chat-box-toggle {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
    cursor: pointer;
}

.widget-container .chat-box-header {
    background: var(--primary);
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 20px;
    padding-top: 17px;
    padding-left: 15px;
}

.widget-container .chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border: 1px solid #ccc;
    overflow: hidden;
}

.widget-container .chat-box-body:after {
    content: "";
    background-image: url('../images/FondoWidget.svg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.widget-container #chat-input {
    background: #f4f7f9;
    width: 100%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    color: #888;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.widget-container .chat-input > form {
      margin-bottom: 0;
}

.widget-container #chat-input::-webkit-input-placeholder {
    color: #ccc;
}

.widget-container #chat-input::-moz-placeholder {
    color: #ccc;
}

.widget-container #chat-input:-ms-input-placeholder {
    color: #ccc;
}

.widget-container #chat-input:-moz-placeholder {
    color: #ccc;
}

.widget-container .chat-submit {
    position: absolute;
    bottom: 3px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: var(--primary);
    width: 35px;
    height: 35px;
}

.widget-container .chat-logs {
    padding: 15px; 
    height: 370px;
    overflow-y: scroll;
}

.widget-container .chat-logs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.widget-container .chat-logs::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.widget-container .chat-logs::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

@media only screen and (max-width: 500px) {
    .widget-container .chat-logs {
        height: 40vh;
    }
}

.widget-container .chat-msg.user > .msg-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    width: 15%;
}

.widget-container .chat-msg.self > .msg-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    width: 15%;
}

.widget-container .cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
}

.widget-container .chat-msg {
    clear: both;
}

.widget-container .chat-msg.self > .cm-msg-text {
    float: right;
    margin-right: 10px;
    background: var(--primary);
    color: white;
}

.widget-container .chat-msg.self .timestamp {
    font-size: 0.8em;
    color: white;
    margin-top: 5px;
    text-align: right;
}

.widget-container .cm-msg-text .timestamp {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
    text-align: right;
}